.goal-input{
   text-align: center;
   width: 74%;
   top: 68px;
   z-index: 3;
   
}
.goal-form{
   background-color: skyblue;
   padding: 1.5%;
   
}
.goal-btn{
   background:linear-gradient(to left top,white, rgb(31, 182, 242,0.7),white) ;
   color: white;
}
.goal-btn:hover{
   background:linear-gradient(to left top, rgb(31, 182, 242,0.7),white, rgb(31, 182, 242,0.7)) ;   
}
.complete-status{
   background-color: rgba(136, 133, 133, 1);
   border: 1px solid white;
  border-bottom: none ;
  border-left: none;
  cursor: pointer;
}
.todo-status{
  background-color: rgb(31, 182, 242,1); 
  border: 1px solid white;
  border-bottom: none ;
  border-right: none;
  cursor: pointer;
}
.todo-status:hover{
   background-color: rgb(31, 182, 242,1) !important; 
   color: white;
}
.complete-status:hover{
   background-color:rgb(31, 242, 136) !important;
   color: white;
}
.goal-todo-title{
   background-color:rgb(31, 182, 242,1) ;
   width: 35%;
   text-align:start;
}
.goal-todo-description{
   background:linear-gradient(to right,white,rgb(31, 182, 242,0.2),white,rgb(31, 182, 242,0.2));
  border: 10px solid rgb(31, 182, 242,1);
  margin-top: -0.4%;
  text-align: justify;
}
.goal-complete-description{
   background:linear-gradient(to right,white,rgb(31, 182, 242,0.2),white,rgb(31, 182, 242,0.2));
   border: 10px solid rgb(31, 242, 136);
   margin-top: -0.4%;
   text-align: justify;
}
.goal-complete-title{
   background-color:rgb(31, 242, 136) ;
   width: 35%;
   text-align:start;
}
.todo-buttons{
   width: 64.8%;
}
  .todo-button{
  height: 55px;
  margin-left: 2%;
}
.todo-tasks{
   position: relative;
}
.edit-pop1{
   position: absolute;
   background:linear-gradient(to right,rgb(3, 92, 234),rgb(31, 182, 242,1),rgb(3, 92, 234));
   width: 85%;
   left: 8%;
   box-shadow: 10px 10px 10px;
}

/* responsiveness**************************************** */
@media screen and (max-width:770px) {
   .goal-input{
      top: 142px;
      width: 100%;
   }   
   .todo-buttons{
      width: 50%;
      flex-direction: column;
   }
   .goal-todo-title,.goal-complete-title{
      width: auto;
   }
   .todo-button{
      height: auto;
   }
}
